// MOBILE
// #######################################################################
// #######################################################################
// #######################################################################

// LANDING

#mobile_home {
  color: $gunmetal;
  height: 100vh;
}

.mobile_home__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.mobile_home__name {
  background-color: #F4F4F4;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 15px;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
    p {
      margin: 0px !important;
  }
}

.mobile_home__sub {
  background-color: $smoke;
  font-size: 15px;
  font-weight: lighter;
  line-height: 2.7;
  padding: 15px 15px;
  margin-bottom: 15px;
      p {
        margin: 0px !important;
    }
}

// WHO I AM

#mobile_who_i_am {
  color: $smoke;
  background-color: $sea;
  font-weight: lighter;
  padding: 5vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile_who_i_am__title {
  font-size: 40px;
    h1 {
      margin: 0px !important;
    }
}

.mobile_who_i_am__para {
  font-size: 25px;
}

.mobile_who_i_am__links {
  margin-top: 30px;
  font-size: 12px;
}

.mobile_who_i_am__link {
  padding-right: 20px;
  color: $smoke;
}

.mobile_who_i_am__link:hover {
  color: $gunmetal;
  text-decoration: none;
}

// WHAT I DO

#mobile_what_i_do {
  padding: 5.5vw;
  min-height: 80vh;
  background-color: $smoke;
  font-color: $gunmetal;
}

.mobile_what_i_do_container {
}

.mobile_what_i_do__title {
  padding-bottom: 3vw;
  font-size: 45px;
  margin-bottom: 40px;
}

.mobile_what_i_do__element {
  // padding-right: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ul,li {
    padding: 0px !important;
    font-weight: normal !important;
    list-style-type: none !important;
    line-height: 40px;
    font-size: 12px;
  }
}

.mobile_what_i_do__icon {
  margin-bottom: 20px;
  margin-top: 30px;
  height:20px;
}

.mobile_what_i_do__header {
  font-size: 20px;
}

.mobile_what_i_do__text {
  line-height: 3.0;
  font-size: 15px;
}


// Mobile My WOrk

#mobile_my_work {
  padding: 5.5vw;
  min-height: 100vh;
  background-color: white;
  font-color: $pastel-pink;
}

.mobile_my_work__title {
  font-size: 40px;
    h1 {
      margin: 0px !important;
    }
}

.mobile_my_work__container {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile_my_work__header {
  background-color: $gunmetal;
  color: white;
  padding: 15px 40px;
  margin: 20px 0px;
  border-radius: 50px;
  font-size: 25px;
  display: flex;
  align-items: center;
    p {
      margin-bottom: 0px;
    }
}

.mobile_my_work__item {
  padding: 5px 0px;
  max-width: 60vw;
}

.mobile_carousel_image {
  padding: 20px 0px;
  max-width: 40vw;
}

.mobile_carousel_image-computer {
  padding: 20px 0px;
  max-width: 60vw;
}
// Mobile Contact

#mobile_contact {
  padding: 5.5vw;
  min-height: 105vh;
  color: $smoke;
  background-color: $gunmetal;
}

.mobile_contact__title {
  font-size: 40px;
    h1 {
      margin: 0px !important;
    }
}

.mobile_contact__link {
  margin-right: 5px;
  margin-left: 5px;
  color: $smoke;
  font-size: 8px;
}



// DESKTOP
// #######################################################################
// #######################################################################
// #######################################################################

// LANDING
// #######################################################################
// #######################################################################
// #######################################################################

.page_container {
  margin-left: 250px;
}


#home {
  color: $gunmetal;
  height: 110vh;
}

.home__text {
  padding: 5vw;
  text-align: left;
  margin-top: 170px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.home__name {
  background-color: #F4F4F4;
  font-size: 3vw;
  max-width: 600px;
  font-weight: bold;
  padding: 15px 15px;
  margin-bottom: 10px;
    p {
      margin: 0px !important;
  }
}

.home__sub {
  background-color: $smoke;
  font-size: 2vw;
  max-width: 800px;
  font-weight: lighter;
  line-height: 2.7;
  padding: 15px 15px;
  margin-bottom: 30px;
      p {
        margin: 0px !important;
    }
}

.home__button {
  margin-top: 50px;
}

 // WHO I AM
// #######################################################################
// #######################################################################
// #######################################################################

#who_i_am {
  color: $smoke;
  background-color: $sea;
  font-weight: lighter;
  padding: 5vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.who_i_am__title {
  font-size: 3.5vw;
    h1 {
      margin: 0px !important;
    }
}

.who_i_am__para {
  font-size: 3.5vw;
}

.who_i_am__links {
  margin-top: 30px;
  font-size: 1.5vw;
}

.who_i_am__link {
  padding-right: 20px;
  color: $smoke;
}

.who_i_am__link:hover {
  color: $gunmetal;
  text-decoration: none;
}

// WHAT I DO
// #######################################################################
// #######################################################################
// #######################################################################

#what_i_do {
  padding: 5.5vw;
  min-height: 100vh;
  background-color: $smoke;
  font-color: $gunmetal;
}

.what_i_do_container {
   display: flex;
   justify-content: space-between;
}

.what_i_do__title {
  padding-bottom: 3vw;
  font-size: 4vw;
  margin-bottom: 40px;
}

.what_i_do__element {
  padding-right: 36px;
  max-width: 23vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;

  ul,li {
    padding: 0px !important;
    font-weight: normal !important;
    list-style-type: none !important;
    line-height: 40px;
    font-size: 1vw;
  }
}

.what_i_do__icon {
  margin-bottom: 3vw;
  height: 2vw;
  width: 2vw;
}

.what_i_do__header {
  font-size: 2vw;
}

.what_i_do__text {
  line-height: 3.0;
  // text-align: justify;
  font-size: 1vw;
}

.what_i_do__header-sub {
  font-size: 1.5vw;
  font-weight: bold;
}

.what_i_do__bottom {
  margin-top: 20px;
}

// My Work
// #######################################################################
// #######################################################################
// #######################################################################

.my_work__background {
  background: linear-gradient(
    to right,
    $pastel-pink 50%,
    white 50%,
  );
}

#my_work {
  padding: 5.5vw;
  min-height: 80vh;
  font-color: $gunmetal;
}

.my_work__title {
  padding-bottom: 3vw;
  font-size: 4vw;
  margin-bottom: 40px;
  // max-width: 310px;
}

.my_work__header {
  background-color: $gunmetal;
  color: white;
  padding: 30px 10vw;
  margin: 30px 0px;
  border-radius: 50px;
  font-size: 25px;
  display: flex;
  align-items: center;
    p {
      margin-bottom: 0px;
    }
}

.my_work__container {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_work__para {
  font-size: 50px;
}

.carousel_image {
  padding: 20px 0px;
  max-width: 60vw;
}

// Contact
// #######################################################################
// #######################################################################
// #######################################################################

#contact {
  padding: 5.5vw;
  min-height: 105vh;
  color: $smoke;
  background-color: $gunmetal;
}

.contact__title {
  padding-bottom: 3vw;
  font-size: 4vw;
  margin-bottom: 40px;
}

.contact__container {
  padding-right: 140px;
  font-weight: lighter;
}

.contact__para {
  font-size: 50px;
}

.contact__form {
  margin-bottom: 30px;
}

.contact__links {
  display: flex;
  justify-content: space_between;
  margin-top: 50px;
  max-width: 400px;
  padding: 50px 0px;
  border-top: 1px solid white;
}

.contact__link {
  margin-right: 20px;
  margin-left: 20px;
  color: $smoke;
  font-size: 1vw;
}

.contact__link:hover {
  color: $pastel-pink;
  text-decoration: none;
}
