.mobile_resume__page {
  height: 450px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.resume__wrapper {
  background-color: $gunmetal;
}

.resume__elements {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resume__page {
  height: 50vw;
  margin-top: 50px;
  margin-bottom: 50px;
}

.resume__button {

}


