












<!--

<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1530153739137-cafe11da39aa?ixlib=rb-0.3.5&s=a459e3b752a24e4401f35b4251f88289&auto=format&fit=crop&w=2734&q=80)">
  <div id="home">
    <div class="home__text">
      <div class="home__name">
        <p>I'm Tom Patton.</p>
      </div>
      <div class="home__sub">
        <p>Business strategest, web designer, and developer in New York City working with businesses, entrepeneurs and freelancers. .</p>
      </div>
      <div class="contact__button">
        <a class='btn_home' href="#contact">Say Hello!</a>
      </div>
    </div>
  </div>
</div>


<div id="who_i_am">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="who_i_am__title">Hello.</h1>
        <div class="who_i_am__para">
          <p>I’m a business strategy professional turned web designer and developer. I can help you market, design, and launch your freelance website, blog, or startup MVP. </p>
        </div>
        <div class="who_i_am__links">
          <a class="who_i_am__link"href="#contact">CONTACT</a>
          <a class="who_i_am__link"href="">LINKEDIN</a>
          <a class="who_i_am__link" href="">GITHUB</a>
          <a class="who_i_am__link"href="">SKETCH</a>
        </div>
      </div>
    </div>
  </div>
</div>


  <div id="what_i_do">
<div class="container">
    <h1 class="what_i_do__title">What I do</h1>
    <div class="row">
      <div class="col-sm-12 col-xl-4">
        <div class="what_i_do__container">
          <div class="what_i_do__element">
            <p class="what_i_do__icon">ICON</p>
            <p class="what_i_do__header">BUSINESS</p>
            <p class="what_i_do__text">Lorem ipsum dolor sit amet, te velit iriure has. Vix quem feugiat id. At oblique accusata prodesset vis, eam ad latine vivendum.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xl-4">
        <div class="what_i_do__element">
          <p class="what_i_do__icon">ICON</p>
          <p class="what_i_do__header">WEB DESIGN</p>
          <p class="what_i_do__text">Lorem ipsum dolor sit amet, te velit iriure has. Vix quem feugiat id. At oblique accusata prodesset vis, eam ad latine vivendum.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-xl-4">
        <div class="what_i_do__element">
          <p class="what_i_do__icon">ICON</p>
          <p class="what_i_do__header">WEB DEVELOPMENT</p>
          <p class="what_i_do__text">Lorem ipsum dolor sit amet, te velit iriure has. Vix quem feugiat id. At oblique accusata prodesset vis, eam ad latine vivendum.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="my_work">
  <h1 class="my_work__title">My work</h1>
  <div class="my_work__container">
  </div>
</div>

<div id="contact">
  <h1 class="contact__title">Let's build together.</h1>
  <div class="contact__container">
    <div class="contact__form">
    </div>
    <div class="contact__button">
      <a class='btn_tmp' href="">Contact Tom</a>
    </div>
    <div class="contact__links">
      <a class="contact__link"href="">LINKEDIN</a>
      <a class="contact__link" href="">GITHUB</a>
      <a class="contact__link"href="">SKETCH</a>
    </div>
  </div>
</div>




<!-- <div id="sidebar">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#who_i_am">About me</a></li>
    <li><a href="#what_i_do">What I do</a></li>
    <li><a href="#my_work">My work</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</div>
 -->
 -->
