<div class="background bg">
  <div class="page-wrapper">
    <div class="new-banner" style="background-image: linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.8) 100%), url('https://images.pexels.com/photos/235994/pexels-photo-235994.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');">
      <div class="navigation">
        <div class="logo">
          <p>Logo</p>
        </div>
        <div class="navigation-links">
          <a class="navigation-link" href="">About</a>
          <a class="navigation-link" href="">Resume</a>
          <a class="navigation-link" href="">Portfolio</a>
        </div>
      </div>
    </div>
    <div class="standard">
      <div class="image">
        <img  id="bg" src="<%= asset_path( 'coffee_one.jpg' ) %>" />
      </div>
      <div class="text-block">
        <p>Hello World</p>
      </div>
    </div>
    <div class="standard">
      <div class="text-block">
        <p>Hello World</p>
      </div>
      <div class="image">
        <img  id="bg" src="<%= asset_path( 'coffee_one.jpg' ) %>" />
      </div>
    </div>
    <div class="standard">
      <div class="image">
        <img  id="bg" src="<%= asset_path( 'coffee_one.jpg' ) %>" />
      </div>
      <div class="text-block">
        <p>Hello World</p>
      </div>
    </div>
  </div>
</div>
