


.btn_transparent_white{
  color: $smoke;
  padding: 1vw 7vw;
  border-radius: 23px;
  border: 1px solid $smoke;
  opacity: .9;
  background-color: transparent;
  transition: background 0.3s ease;

  &:hover {
    opacity: 1;
    color: $gunmetal;
    background-color: $smoke;
    text-decoration: none;
  }
}

.btn_block_white{
  color: $gunmetal;
  padding: 2vw 5vw;
  background-color: $smoke;
  transition: background 0.3s ease;
  font-weight: bold;
  font-size: 20px;


  &:hover {
    opacity: 1;
    color: $smoke;
    background-color: $sea;
    text-decoration: none;
  }
}
